@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #11100f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  gap: 10px;
}

form {
  background-color: #201f1e;
  width: 1700px;
  height: 120px;
  position: relative;
  padding: 20px;
  border-radius: 2px;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #201f1e;
  height: 60px;
  padding: 0px 10px;
  border-radius: 2px;
}

.tasks p {
  display: flex;
  align-items: center;
}

p {
  color: white;
  font-weight: bold;
  margin: 0;
}

.inputTask {
  border: none;
  outline: none;
  height: 45px;
  padding-right: 170px;
  width: 97%;
  padding: 0px 20px;
  color: white;
  background-color: #252423;
  border-radius: 5px;
  font-size: 15px;
}

.inputTask::placeholder {
  color: #4bb1f1;
  font-weight: bold;
}

.inputTask:focus::placeholder {
  color: white;
}

.btn-Add {
  width: 150px;
  height: 50px;
  border: 1px solid #605e5c;
  color: #605e5c;
  font-weight: bold;
  background-color: #252423;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.task-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-Add:hover {
  background-color: rgb(41, 40, 39);
}

.btn-Delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #201f1e;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px;
  margin-left: auto;
}

.btn-Delete:hover {
  background-color: hsl(30, 3%, 15%);
  border-radius: 2px;
  transition: 0.3s;
}

.btn-Delete:active {
  background-color: #605e5c;
  transition: 0.3s;
}

.checkbox-wrapper-15 .cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-wrapper-15 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  color: white;
  font-weight: bold;
}

.checkbox-wrapper-15 .cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #b9b8c3;
  transition: all 0.2s ease;
  margin-right: 10px;
}

.checkbox-wrapper-15 .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-15 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #4bb1f1;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}

.checkbox-wrapper-15 .cbx:hover span:first-child {
  border-color: #4bb1f1;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
  border-color: #4bb1f1;
  background: #4bb1f1;
  animation: check-15 0.6s ease;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child {
  color: #b9b8c3;
  transition: all 0.3s ease;
  text-decoration: line-through;
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}
